@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #818cf8;
}

body {
}

h1 {
}

button {
}
button:hover {
}
button:focus,
button:focus-visible {
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header {
  background-color: white;
}

.group {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 6px;
}

.footertopic {
  padding-bottom: 18px;
  font-weight: 400;
}

.nav-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
